<div class="container">
  <h2>Edit Product</h2>
  <!-- Add success and error messages -->
  <div
    class="message-box"
    [ngClass]="{
      success: updateStatus === 'success',
      error: updateStatus === 'error'
    }"
    *ngIf="updateStatus === 'error' || updateStatus === 'success'"
  >
    {{ message }}
  </div>
  <div *ngIf="updateStatus === 'loading'" class="loading-container">
    <div class="loader"></div>
  </div>
  <form [formGroup]="productForm" (ngSubmit)="updateProduct()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" id="name" formControlName="name" />
      <div class="error-message" *ngIf="isFieldInvalid('name')">
        {{ getErrorMessage("name") }}
      </div>
    </div>
    <div class="form-group">
      <label for="price">Price</label>
      <input type="number" id="price" formControlName="price" />
      <div class="error-message" *ngIf="isFieldInvalid('price')">
        {{ getErrorMessage("price") }}
      </div>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea id="description" formControlName="description"></textarea>
      <div class="error-message" *ngIf="isFieldInvalid('description')">
        {{ getErrorMessage("description") }}
      </div>
    </div>
    <button type="submit" [disabled]="!productForm.valid">
      Update Product
    </button>
  </form>
</div>
