.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  margin: 20px auto;
  max-width: 500px;
  background-color: #f9f9f9;
  width: 100%; /* Added width property for smaller screens */

  /* Media query for desktop and tablet screens */
  @media (min-width: 768px) {
    width: auto;
  }
}

form {
  width: 100%;
}
.form-group {
  margin-bottom: 10px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
textarea {
  width: 100%;
  padding: 8px 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  opacity: 0.8;
}

button[disabled] {
  background-color: lightgray;
  color: gray;
  cursor: not-allowed;
}

.error-message {
  color: red;
  margin-top: 5px;
}

.message-box {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  text-align: center;
}

.success {
  background-color: #93f893;
  color: #006400;
  border: 1px solid #006400;
}

.error {
  background-color: #ff7e7e;
  color: #8b0000;
  border: 1px solid #8b0000;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; /* Adjust the height as needed */
}

.loader {
  border: 4px solid #f3f3f3; 
  border-top: 4px solid #333; 
  border-radius: 50%;
  width: 30px; 
  height: 30px; 
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}