<div class="container">
  <div class="heading-row">
    <h2 class="products-heading">Products List</h2>
    <div class="switch-container">
      <div class="switch-label">{{ isGridView ? 'Switch to List View' : 'Switch to Grid View' }}</div>
      <label class="switch">
        <input type="checkbox" (click)="toggleView()" />
        <span class="slider"></span>
      </label>
    </div>
  </div>
  <div *ngIf="isGridView; else listView">
    <div class="grid-container">
      <div class="grid-item" *ngFor="let product of products">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">{{ product.name }}</h4>
          </div>
          <div class="card-body">
            <p class="card-text">Price: {{ product.price }}</p>
            <p class="card-text">Description: {{ product.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #listView>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Price</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td>{{ product.name }}</td>
          <td>{{ product.price }}</td>
          <td>{{ product.description }}</td>
        </tr>
      </tbody>
    </table>
  </ng-template>
</div>
