/* Switch Slider Styles */
.container {
  padding: 20px;
  margin: 20px;
}

.products-heading {
  display: inline-block;
  margin-right: auto;
}

.heading-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.switch-container  {
  display: flex;
  align-items: center;
}

.switch-container .switch-label {
  margin-right: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
  margin: 0;
  cursor: pointer;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 17px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.slider:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 2px;
  left: 2px;
  background-color: #fff;
  border-radius: 50%;
  transition: transform 0.3s;
}

.switch input:checked + .slider {
  background-color: #333;
}

.switch input:focus + .slider {
  box-shadow: 0 0 3px #333;
}

.switch input:checked + .slider:before {
  transform: translateX(26px);
}

.switch-label {
  margin-left: 10px;
  font-size: 14px;
  color: #333;
}

/* Table View Styles */
.table-container {
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

table th,
table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

table th {
  background-color: #f5f5f5;
  font-weight: bold;
}

/* Grid View Styles */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
}

.grid-item {
  display: flex;
  position: relative;
}

.card {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  background-color: #f9f9f9;
  position: relative;
}

.card-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.card-title {
  margin: 0;
}

.card-body {
  margin-top: 10px;
}

.card-text {
  margin: 0;
}

.actions {
  position: absolute;
  top: 2px;
  right: 10px;
}

.edit-icon,
.delete-icon {
  display: inline-block;
  cursor: pointer;
  padding: 4px 5px;
  background-color: black;
  border-radius: 50%;
  margin: 3px;
}

.edit-icon:hover,
.delete-icon:hover {
  background-color: darkgray;
}

.material-icons {
  color: white;
  font-size: 18px;
  vertical-align: middle;
}

/* Confirmation Popup Styles */
.confirmation-popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-content {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: relative;
}

.popup-header {
  background-color: #000;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px 5px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popup-text{
  padding: 20px;
}

.popup-header h4 {
  margin: 0;
  font-size: 16px;
}

.close-icon {
  cursor: pointer;
  font-size: 20px;
  color: #fff;
}

.popup-content p {
  margin: 0;
  font-size: 16px;
  text-align: center;
}

.popup-actions {
  margin-top: 20px;
  text-align: right;
}

.confirm-button,
.cancel-button {
  padding: 10px 20px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.confirm-button {
  background-color: #333;
  color: #fff;
}

.cancel-button {
  background-color: gray;
  color: #fff;
  margin-right: 10px;
  margin-left: 5px;
}

.confirm-button:hover,
.cancel-button:hover {
  opacity: 0.8;
}
